html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
#logo{
	font-size: 1.2em;
}
.no-margin{
	margin: 0px;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.be-red{
	background-color: #A6102B;
}

.white{
	color: #F3F1EA;
}

.large-padding{
	padding: 8px 5px;
}